body {
    color:#434444;
}
.container {
    padding-top:50px;
    color:white
}
hr {
    width:300px;
    border:3px solid #434444;
}
.product-grid {
    padding:20px;;
}
.text-product {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.60), 0 6px 20px 0 rgba(0,0,0,0.70);
}
.product-grid:hover .text-product {
    overflow:visible;
    white-space: normal;
}
.image_shop {
    position: relative;
}

.buy {
    background-color: transparent;
    color:rgb(178, 183, 216);
    border-radius: 0;
    border:1px solid #434444;
    width: 100%;
    margin-top: 20px;
}
.buy:hover {
    color:rgba(161, 175, 255, 1);
    background-color: rgba(22, 49, 247,0.35);
}
.overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    height:100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(66,68,68,0.7);
}
.overlay:hover{
   opacity:1; 
}
.detail {
    color:white;
    font-size: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:(-50%,-50%);
}
